.container {
    text-align: center;
    max-width: 500px !important;
}
.ui.vertical.animated.button {
    margin: 5px;
}
.select__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.select {
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
    outline: none;
    width: 40vw;
    max-width: 250px;
}

@media (max-width: 414px) {
    .container {
        p {
            margin-bottom: 0.5em;
        }
    }
    .select__container {
        flex-wrap: nowrap;
    }
    .select {
        padding: 5px;
        margin: 5px;
    }
}
