.app {
    height: 100vh;
    color: black;
    text-shadow: 2px 2px 2px gray;
}
.ui.container {
    background-color: rgba(207, 203, 202, 0.3);
}
h2.ui.icon.center.aligned.header.header {
    margin-top: 0 !important;
    padding: 10px;
}
@media (max-width: 400px) {
    .ui.icon.header {
        font-size: 1em !important;
    }
}
